$font-primary: "Beatrice Deck", "Arial", sans-serif;
$font-second: "Inter", "Arial", sans-serif;

//текст
$text-color: #000000;
// $text-second-color: #fbd784;

$icon-color: $text-color;

//фоны
$bg-basic-color: #ffffff;
$bg-footer-color: #f5f5f5;

$border-color: #d7d7d7;
$button-border-color: #a3a3a3;

$button-icon-bg-color: #000000;
$button-bg-color: #d9d9d9;
//переменные для плавных переходов
$time: 0.5s;
$time-fast: 0.2s;

$page-width: 1280px;
