.header {
  display: flex;
  align-items: center;
  gap: 20px;
  justify-content: space-between;
}

.header__menu {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  gap: 20px;
}
