.new {
  font-family: $font-primary;
  font-size: 48px;
  font-weight: 800;
  line-height: 40px;
  letter-spacing: 2px;
}

.new__button {
  @include link();
  @include icon("arrow_long.svg", $text-color, 50px, 12px, 100%, 100%, "after");

  display: flex;
  align-items: center;
  padding: 8px 27px;
  font-size: 16px;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 0;
  color: $text-color;
  background-color: $button-bg-color;
}

.new__slider {
  width: calc(366px*2);
}
